<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="customersCtrl"> 

<ul>
  <li ng-repeat="x in myData">
    {{ x.titulo + ', ' + x.ministrante }}
  </li>
</ul>

</div>

</body>

<script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', ['$scope','$http', function($scope, $http)
		{    
			$http.get('http://queziajesuino.com.br/sistema/palavras/index.json').then(function(response) {
        $scope.myData = response.data.records;
    });
		}]);
</script>
</html>